* {
  box-sizing: border-box;
}
body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1320px;
  margin: auto;
}
.fsh {
  background-color: #191919;
  width: 100%;
}
.fshInformation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1320px;
}
.fsh-txt {
  text-align: center;
  padding: 5px;
  color: #fff;
}
.closeFshBtn {
  cursor: pointer;
  position: absolute;
  margin-right: 10px;
  right: 0;
  color: #000;
}
.bgHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftSideHeader, .rightSideHeader {
  position: relative;
  height: 750px;
  width: 50%;
}
.leftSideHeader {
  background-image: url(../images/header-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.rightSideHeader {
  background-color: #996B60;
}
.icon {
  z-index: 1;
  position: absolute;
  top: 25px;
  left: calc(50% - 42px);
}
.menu {
  position: relative;
  top: 30px;
  max-width: 1320px;
  margin: auto;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
}
.leftSideMenu, .rightSideMenu {
  max-width: 660px;
  display: flex;
  align-items: center;
}
.leftSideMenu {
  margin: auto;
}
.rightSideMenu {
  margin: auto;
}
.leftMenuItem {
  margin-right: 60px;
}
.rightMenuItem {
  margin-left: 60px;
}
.leftMenuItem, .rightMenuItem {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  border-radius: 4px;
  padding: 5px;
  transition: 0.3s;
}
.leftMenuItem:hover, .rightMenuItem:hover {
  background-color: #191919;
  box-shadow: 0 10px 30px 0 #454545;
}
.leftMenuItem:active, .rightMenuItem:active {
  opacity: 0.8;
}
.headerInformation {
  position: relative;
  top: 300px;
  height: 425px;
}
.headerTitle {
  margin: 0;
  position: relative;
  left: 60px;
  font-family: 'Liberation Serif';
  font-size: 73px;
  color: #fff;
  font-weight: 400;
  width: 500px;
  line-height: 96px;
}
.headerDescription {
  position: relative;
  top: 30px;
  left: 60px;
  color: #fff;
  width: 570px;
  font-size: 18px;
  line-height: 32px;
}
.headerBtn {
  position: relative;
  top: 70px;
  background-color: transparent;
  left: 60px;
  border: 1px solid #fff;
  width: 180px;
  height: 52px;
  border-radius: 2px;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  padding: 18px 60px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}
.headerBtn:hover {
  font-weight: 700;
  box-shadow: 0 10px 50px 0 #FFFDD0;
  background-color: #FAEBD7;
}
.headerBtn:active {
  opacity: 0.8;
}
.wine-info {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}
.info-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.describe {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  width: 288px;
  height: 64px;
  margin-bottom: 36px;
}
.describe_b {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  width: 297px;
  height: 96px;
  margin-bottom: 36px; 
}
.info-img {
  width: 300px;
  height: 50px;
}
.horizontal-line_a {
  margin-top: 41px;
  background: #BDBDBD;
}
.shop-title {
  text-align: center;
  font-family: 'Liberation Serif';
  font-size: 64px;
  line-height: 80px;
  margin-top: 105px;
}
.shop-subtitle {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin-top: 24px;
}
.shop-cards {
  display: flex;
  justify-content: space-between;
}
.shop-card {
  /* box-shadow: 10px 10px 10px 0px #ecc488; */
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0 5px 5px 5px; /* UP RIGHT DOWN LEFT  */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  height: 730px;
}
.card-img {
  position: relative;
  margin-top: 82px;
  width: 382px;
  height: 451px;
}
.card-bs {
  left: 263px;
  top: 23px;
  background-color: #191919;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
}
.card-bsTXT {
  top: 35px;
  left: 21px;
  width: 58px;
  position: absolute;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  text-transform: uppercase;
  color: #fff;
}
.card-title {
  font-size: 30px;
  font-family: Liberation Serif;
  text-align: center;
  margin-top: 19px;
}
.card-description {
  width: 366px;
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
}
.card-shop_btnPosition {
  margin-top: 40px;
}
.card-shop_btn {
  cursor: pointer;
  border: 1px solid #191919;
  width: 180px;
  height: 52px;
  background: #191919;
  margin-top: 27px;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  padding: 15px 55px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card-shop_btn:hover {
  font-weight: 700;
  box-shadow: 0 10px 20px 0 #000;
  background-color: #000;
  transition: 0.3s;
}
.card-shop_btn:active {
  opacity: 0.8;
}
.horizontal-line_b {
  background: #BDBDBD;
  margin-top: 140px;
}
.introAppet-img {
  margin-top: 60px;
  border-radius: 2px;
}
.appetTXT {
  display: flex;
  margin: 0;
}
.appetTitle {
  font-family: 'Liberation Serif';
  font-size: 53px;
  margin-top: 54px;
  width: 430px;
}
.appetInfo {
  font-size: 18px;
  line-height: 32px;
  margin-top: 59px;
  margin-left: 343px;
  width: 490px;
}
.horizontal-line_c {
  background: #BDBDBD;
  margin-top: 95px;
}
.wine-information {
  display: flex;  
  margin-top: 60px;
}
.wine-informationTXT {
  margin-right: 55px;
  margin-top: 50px;
}
.drink-title {
  font-family: 'Liberation Serif';
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
  line-height:  44px;
}
.drink-information {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 380px; 
}
.drink-title {
  font-family: 'Liberation Serif';
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
  line-height:  44px;
}
.drink-information {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 380px; 
}
.ingredients-title {
  font-family: 'Liberation Serif';
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
  line-height:  44px;
  width: 340px;
}
.ingredients-information {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 380px; 
}
.delivery-title {
  font-family: 'Liberation Serif';
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
  line-height:  44px;
}
.delivery-information {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 380px; 
}
.wine-informationIMG {
  width: 880px;
  height: 608px;
}
.commentsSize {
  height: 200px;
}
.comments {
  height: 330px;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 32px;
  display: flex; 
  margin: 50px 0 0 0;
  background-color: #000;
  color: #fff;
  align-items: center;
}
.comment {
  float: left;
  text-align: center;
}
.first-comment {
  width: 300px;
  height: 65px;
}
.second-comment {
  width: 318px;
  height: 96px;
  margin-left: 140px;
  margin-right: 140px;
}
.third-comment {
  width: 310px;
  height: 96px;
}
.comment-sender {
  margin-top: 17px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.verify {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Roboto';
  text-transform: capitalize;
  color: #8A8A8A;
}
.prepare {
  display: flex;
}
.prepare-image {
  width: 550px;
  height: 470px;
  margin-top: 61px;
  margin-right: 110px;
}
.prepare-title {
  font-family: 'Liberation Serif';
  font-size: 64px;
  width: 630px;
  height: 160px;
  margin-top: 61px;
  margin-bottom: 140px;
}
.prepare-content {
  font-size: 16px;
  width: 650px;
  margin-bottom: 35px;
  line-height: 32px;
}
.prepare-LearnMore {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: 0.1s; 
}
.prepare-LearnMore:hover {
  font-weight: 700;
}
.ending {
  height: 570px;
  margin-top: 60px;
  background-image: url(../images/ending.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.mood {
  position: absolute;
  background-color: #000;
  color:#fff;
  height: 300px;
  width: 550px;
  margin-top: 60px;
  text-align: center;
}
.mood-title {
  font-family: 'Liberation Serif';
  text-align: center;
  font-size: 55px;
  margin: 40px 0 10px 0;
}
.mood-content {
  font-size: 16px;
  text-align: center;
  margin-bottom: 26px;
  margin: 0 69px 40px 69px;
}
.spotify-btn {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 18px 60px;
  cursor: pointer;
  height: 52px;
  width: 180px;
  font-weight: 400;
  border-radius: 2px;
}
.spotify-btn:hover {
  color: #000;
  font-weight: 700;
  box-shadow: 0 4px 20px 0 #FFFDD0;
  background-color: #FAEBD7;
  transition: 0.3s;
}
.spotify-btn:active {
  opacity: 0.8;
}
.socialNetworks {
  position: absolute;
  background-color: #000;
  color:#fff;
  height: 125px;
  width: 550px;
  margin-top: 385px;
  text-align: center;
}
.follow-us {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 17px;
}
.apps {
  display: flex;
  justify-content: space-between;
  margin: 0 134px 0 134px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}
.app {
  text-decoration: none;
  color: #fff;
  transition: 0.1s;
}
.app:hover {
  font-weight: 700;
}
.footer {
  background-color: #000;
  height: 620px;
  width: 100%;
}
.topInformation {
  display: flex;
  padding-top: 55px;
}
.stayPosted-title {
  font-family: 'Liberation Serif';
  font-size: 42px;
  color: #fff;
}
.stayPosted-content {
  color: #fff;
  width: 424px;
  line-height: 24px;
  margin-top: 12px;
}
.stayPosted-email {
  font-size: 12px;
  margin-top: 32px;
  border-bottom: 2px solid #8A8A8A;
  width: 460px;
}
.email-address {
  margin-left: 5px;
  background-color: #000;
  border: 0;
  padding: 5px 0 5px 0;
  color: #fff;
}
.footer-submitBTN {
  cursor: pointer;
  padding: 5px 0 5px 0;
  border: 0;
  color: #fff;
  background-color: #000;
  text-align: center;
}
.explore {
  margin-left: 220px;
  text-transform: uppercase;
}
.follow {
  margin-left: 100px;
  text-transform: uppercase;
}
.sectionTitle {
  margin-bottom: 30px;
}
.dropUsALine {
  margin-left: 140px;
  text-transform: uppercase;
}
.footerListItem {
  letter-spacing: 1px;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 400;
  transition: 0.1s;
}
.footerListItem:hover {
  font-weight: 700;
  color: #fff;
}
.sectionTitle {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.bottomInformation {
  margin-top: 150px;
}
.footerSiteInfo {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.copyright {
  color: #fff;
}
.footerInfoItem {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-left: 60px;
  transition: 0.2s;
}
.footerInfoItem:hover {
  font-weight: 700;
  color: #fff;
}

@media (max-width: 1320px) {
  .container {
    max-width: 1280px;
  }
  .header {
    height: 700px;
  }
  .introAppet-img {
    width: 1280px;
    height: 520px;
  }
  .prepare-title {
    width: 600px;
  }
  .prepare-content {
    width: 600px;
  }
  .headerInformation {
    top: 250px;
  }
  .rightSideHeader, .leftSideHeader {
    height: 700px;
  }
}
@media (max-width: 1260px) {
  .container {
    max-width: 1220px;
  }
  .introAppet-img {
    width: 1210px;
    height: 450px;
  }
  .prepare-title {
    width: 550px;
  }
  .prepare-content {
    width: 500px;
  }
  .commentsSize {
    height: 170px;
  }
  .prepapre-content {
    width: 550px;
  }
  .dropUsALine {
    margin-left: 100px;
  }
}
@media (max-width: 930px) {
  .container {
    max-width: 890px;
  }
  .header {
    height: 500px;
  }
  .rightSideHeader, .leftSideHeader {
    height: 500px;
  }
  .headerInformation {
    top: 135px;
  }
  .headerTitle {
    font-size: 40px;
    line-height: 50px;
  }
  .headerDescription {
    width: 370px;
  }
  .shop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shop-cards {
    flex-direction: column;
    width: 610px;
  }
  .shop-card {
    width: 600px;
  }
  .horizontal-line_a, .horizontal-line_b, .horizontal-line_c {
    max-width: 890px;
  }
  .introAppet-img {
    width: 880px;
    height: 380px;
  }
  .appetTitle {
    width: 390px;
  }
  .appetInfo {
    margin-left: 55px;
    width: 380px;
  }
}